#header {
    height: 10%;
}

#title {
    text-align: center;
    width: 100%;
    margin-right: -30%;
    float: left;
}

#buttons {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:30%;
    height:100%;
}

.action, .actionAbort, .rowAction {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    cursor:pointer;
    border: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.action, .actionAbort {
    float: right;
    margin-left: 1em;
}

.action {
    background-color: red;
    color: white;
}

.rowAction {
    background-color: orange;
    color: white;
}

.rowAction:hover {
    background-color: #4CAF50;
}

.action:hover {
    background-color: orange;
}

.actionAbort {
    background-color: #4CAF50;
    color: white;
}

#tasks {
    border-collapse: collapse;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    table-layout: auto;
}

#tasks td, #tasks th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 3em;
}

#tasks td {
    white-space: pre-wrap;
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

#tasks td.description {
    text-align: left;
}

td.overdue {
    background-color: red;
}

th.description {
    width: 100%;
}

.formWrapper {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userForm {
    text-align: center;
    padding: 3em 0;
    border: 1px dashed black;
    height: calc(100% - 5em);
}

.formTextArea {
    width: 95%;
    height: 85%;
    resize: none;
}

.formButtons {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 5em;
}

.emptyTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
